@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.container {
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.copyList ul {
  padding: 0;
}

.copies {
  float: left;
  font-family: 'Varela Round', sans-serif;
  user-select: none;
  border-color: red;
  border-top: solid;
  border-width: 1px;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s;
  cursor: copy;
}

.copies:hover {
  border: none;
  font-size: 19px;
  background-color: rgba(103, 95, 95, 0.22);
}

.copies:active {
  transition: 0.1s;

  background-color: rgba(103, 95, 95, 0.62);
}
