.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  text-align: center;
  color: black;
  font-size: 25px;
}

.clipboardImage {
  height: 312px;
  width: 312px;
}
