@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  -webkit-text-stroke-color: #2b2b2b;
  -webkit-text-stroke-width: 1px;
  font-family: 'Varela Round', sans-serif;
  /* font-family: 'Pacifico', sans-serif; */
  font-weight: bold;
  text-align: center;
  color: #2b2b2b;
  font-size: 35px;
}

.clipboardImage {
  height: 312px;
  width: 312px;
}
