.ExitBar {
  display: flex;

  align-items: stretch;
}

.DragBar {
  top: 0;
  -webkit-app-region: drag;
  position: absolute;
  width: 90%;
  height: 35px;
  left: 0;
}
.ExitBarLength {
  right: 0;
  position: absolute;
  height: 100px;
}
.Spacing {
  padding-left: 10px;
  padding-right: 10px;
}
