@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.container {
  overflow: auto;
  background-image: linear-gradient(to bottom right, #c9d6ff, #e2e2e2);
  height: 100%;
}

.title {
  height: 10%;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.arrowContainer {
  float: left;
  color: white;
}

.arrow {
  margin-left: 3px;
  margin-top: 5px;
  position: absolute;
}
.danger {
  margin-left: 3px;
}

.settingsArea {
  .color: red;
}

.tableSettings {
  border-radius: 5px;
  text-align: center;
  height: 200px;
  margin: 5px;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.25);
}

.item {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 23px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 50px;
  color: #ff0000;
  transition: 0.3s;
}
.item:hover {
  cursor: pointer;
  background-color: rgba(95, 90, 90, 0.38);
}
.item:active {
  background-color: rgba(95, 90, 90, 0.58);
}
