.secondContainer {
  padding: 10px;
}
.tokenTitle {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 20px;
}

.saveBtn {
  padding: 5px;
  display: flex;
  justify-content: center;
}
